body {
    font-family: Arial, sans-serif;
    background: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #121212;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    color: #ffffff;
    box-sizing: border-box;
}

.login-container img {
    display: block;
    margin: 0 auto 30px auto;
    width: 60%;
    height: auto;
}

.login-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-form p a {
    color: #A9A9A9; 
    text-align: center;
    display: block; 
    margin-top: 10px; 
    text-decoration: underline; 
    font-size: 0.9em; 
}

.login-form p a:hover {
    color: #ffffff; 
    text-decoration: none; 
}

.forgot-password {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9em;
}

/* Add your styles here */
.chart-container {
    width: 80%;
    margin: auto;
}

.dropdowns {
    text-align: center;
    margin-bottom: 20px;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.chart-container canvas {
    margin-bottom: 20px;
    max-width: 600px; /* Set a max-width for larger screens */
    width: 100%; /* Responsive width on smaller screens */
}
