body {
    font-family: Arial, sans-serif;
    background: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #121212;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    color: #ffffff;
    box-sizing: border-box;
}

.login-container img {
    display: block;
    margin: 0 auto 30px auto;
    width: 60%;
    height: auto;
}

.login-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.forgot-password {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9em;
}
